/*FONT USE*/
/*font-family: 'Raleway', sans-serif;*/

/*NAVIGATION*/
.navbar-default
{
	background-color: #fff;
	border:none;

	/*background-color: red;*/ /*remove WD*/
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand
{
	color: #000;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle.collapsed
{
	border: none;
	background-color: #303030;
	box-shadow: none;
	border-radius: 0px;
	height: 36px;
	width: 36px;
}

button, input[type="button"], input[type="reset"], input[type="submit"]
{
	box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: #fff;
	border-radius: 0px;
	width: 20px;
	height: 2px;
	margin-top:4px;
	margin-left:-1px;
}

.navbar-default .navbar-toggle .icon-bar.first
{
	margin-top:0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand
{
	position: absolute;
	left: 50%;
	margin-left: -75px;
}

.navbar-collapse
{
	padding:0;
}

ul#menu-primary-menu
{
	margin:0;
}

ul#menu-primary-menu li
{
	border-bottom: 1px solid #f0f0f0;
	background-color: #fff;
	-webkit-transition: background-color 150ms;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    transition: background-color 150ms;
}

ul#menu-primary-menu li:hover
{
	background-color: #fafafa;
	-webkit-transition: background-color 150ms;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    transition: background-color 150ms;
}

ul#menu-primary-menu li a
{
	color: #303030;
	font-family: 'Raleway', sans-serif;
}

