/*FONT USE*/
/*font-family: 'Raleway', sans-serif;*/

/*GENERAL*/
html, body{width:100%;}

/*NAVIGATION*/
header.banner.navbar.navbar-default.navbar-static-top
{
	position: fixed;
	width: 100%;
	top:0px;
}
.navbar
{
	margin-bottom: 0px;
}
.navbar-default
{
	background-color: #fff;
	border:none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand
{
	color: #000;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle.collapsed
{
	border: none;
	background-color: #303030;
	box-shadow: none;
	border-radius: 0px;
	height: 36px;
	width: 36px;
}

button, input[type="button"], input[type="reset"], input[type="submit"]
{
	box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: #fff;
	border-radius: 0px;
	width: 20px;
	height: 2px;
	margin-top:4px;
	margin-left:-1px;
}

.navbar-default .navbar-toggle .icon-bar.first
{
	margin-top:0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand
{
	position: absolute;
	left: 50%;
	margin-left: -75px;
}

.navbar-collapse
{
	padding:0;
}

ul#menu-primary-menu
{
	margin:0;
}

ul#menu-primary-menu li
{
	border-bottom: 1px solid #f0f0f0;
	background-color: #fff;
	-webkit-transition: background-color 150ms;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    transition: background-color 150ms;
}

ul#menu-primary-menu li:hover
{
	background-color: #fafafa;
	-webkit-transition: background-color 150ms;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    transition: background-color 150ms;
}

ul#menu-primary-menu li a
{
	color: #303030;
	font-family: 'Raleway', sans-serif;
}

/*MAIN WRAPPER*/
#page #content
{
	margin-top: 50px;
}

/*INTRO PAGE*/
#main #intro
{
	width:100%;
	height: auto;
	position:relative;
}

#main #intro:before
{
	content: "";
    display: block;
    max-width: 100%;
    background-color: #fff;
    background-image: url("assets/team_placeholder.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 55.375%;
}

#main #intro .container h1
{
	position:absolute;
	bottom:10px;
	padding:5px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	width:329px;
	background-color:rgba(48,48,48,0.75);
	font-size: 18px;
	line-height: 25px;
}

/*ABOUT PAGE*/
#about .container
{
	margin: 50px auto;
}

#about .container h2
{
	margin:0;
	color: #303030;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 12.5px;
} 

#about .container p
{
	color: #303030;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 25px;
}

/*HIRE US PAGE*/
#main #hire
{
	width:100%;
	height: auto;
	position:relative;
}

#hire:before
{
	content: "";
    display: block;
    max-width: 100%;
    background-color: #fff;
    background-image: url("assets/team_overlay.png");
    height: 250px;
	-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    background-position: 50% 50%;
}

#hire .container 
{
	position: absolute;
	top:50%;
	margin-top:-71px;
	width:100%;
	height:auto;
}

#hire .container h3,
#hire .container p
{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
} 

#hire .container h3
{
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

#hire .container p
{
	font-size: 18px;
	line-height: 25px;
}

#hire .container ul#socialCon
{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
	width: 160px;
	margin: 0 auto;
	height: 40px;
	margin-top: 20px;
}

#hire .container ul#socialCon li
{
	padding:0;
	margin:0;
	width: 40px;
	background-color: #ff483a;
	height: 40px;
	float: left;
	margin-right: 20px;
	list-style: none;
}

#hire .container ul#socialCon li#linkedIn
{
	margin-right: 0px;
}

#hire .container ul#socialCon li a
{
	display: block;
	height:40px;
	width:40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

#hire .container ul#socialCon li#twitter a
{
	background-image: url("assets/twitter.png");
	background-image: url('assets/twitter.svg'), none;
}

#hire .container ul#socialCon li#facebook a
{
	background-image: url("assets/facebook.png");
	background-image: url('assets/facebook.svg'), none;
}

#hire .container ul#socialCon li#linkedIn a
{
	background-image: url("assets/linkedIn.png");
	background-image: url('assets/linkedIn.svg'), none;
}

/*MEDIAQUERIES TABLET*/
@media all and (min-width: 768px) {
	/*NAVIGATION*/
	header.banner.navbar.navbar-default.navbar-static-top
	{
		height: 60px;
	}

	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand
	{
		position: static;
		left: 0;
		margin-left: 0px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
		margin:0;
	}

	.navbar-nav
	{
		float: right;
	}

	.navbar-brand
	{
		padding:0;
		line-height:60px;
		height: 60px;
	}

	.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after
	{
		display: none;
	}

	ul#menu-primary-menu li a
	{
		font-weight: bold;
		font-size: 16px;
		height:60px;
		line-height: 60px;
		padding:0px;
	}

	ul#menu-primary-menu li
	{
		border: none;
		padding:0px 5px;
		margin: 0px 10px;
	}

	/*also add on current active section*/
	ul#menu-primary-menu li:hover:before
	{
		width: 100%;
		background-color: #303030;
		content: "";
		height: 5px;
		position: absolute;
		bottom: 0;
		left:0;
	}

	ul#menu-primary-menu li:hover
	{
		background-color: #fff;
	}

	/*MAIN WRAPPER*/
	#page #content
	{
		margin-top: 20px;
	}

	/*INTRO PAGE*/
	#main #intro .container h1
	{
		font-size: 20px;
		padding:10px;
		line-height: 27.5px;
		width:374px;
	}

	/*ABOUT PAGE*/
	#about .container
	{
		margin: 75px auto;
	}

	#about .container h2
	{
		font-size: 42px;
	} 

	#about .container p
	{
		font-size: 20px;
		line-height: 27.5px;
	}

	/*HIRE US PAGE*/
	#hire .container h3
	{
		font-size: 22.5px;
	}

	#hire .container p
	{
		font-size: 20px;
		line-height: 27.5px;
	}
}

/*MEDIAQUERIES FIXES*/
@media all and (min-width: 470px) {

	#hire .container
	{
		margin-top: -58.5px;
	}
}

@media all and (min-width: 640px) {

	#hire:before
	{
	    height:auto;
	    max-width: 100%;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    padding-top: 40.375%;
	}
}

/*MEDIAQUERIES DESKTOP*/
@media all and (min-width: 1200px) {

	.container
	{
		width: 1000px;
		margin: 0 auto;
	}
	/*MAIN WRAPPER*/
	#page #content
	{
		margin-top: 0px;
	}

	/*INTRO PAGE*/
	#main #intro .container h1
	{
		bottom:15%;
		font-size: 30px;
		padding:15px;
		line-height: 35px;
		width:561px;
	}

	/*ABOUT PAGE*/
	#about .container
	{
		margin: 100px auto;
	}

	#about .container h2
	{
		font-size: 45px;
	} 

	#about .container p
	{
		font-size: 22.5px;
		line-height: 30px;
	}

	/*HIRE US PAGE*/
	#hire .container
	{
		margin-top: -61px;
	}

	#hire .container h3
	{
		font-size: 25px;
	}

	#hire .container p
	{
		font-size: 22.5px;
		line-height: 30px;
	}
}