/*FONT USE*/
/*font-family: 'Raleway', sans-serif;*/

/*GENERAL*/
html, body{width:100%;overflow-x:hidden;}
ul, li{list-style: none; padding:0; margin:0;}

/*NAVIGATION*/
header.banner.navbar.navbar-default.navbar-static-top
{
	position: fixed;
	width: 100%;
	top:0px;
	z-index:11;
	border-bottom: 1px solid #f3f3f3;
}
.navbar
{
	margin-bottom: 0px;
}
.navbar-default
{
	background-color: #fff;
	border:none;
}

.navbar-brand {
	background-image: url("assets/logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	width: 160px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand
{
	color: #000;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle.collapsed
{
	border: none;
	background-color: #303030;
	box-shadow: none;
	border-radius: 0px;
	height: 36px;
	width: 36px;
}

button, input[type="button"], input[type="reset"], input[type="submit"]
{
	box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: #f3f3f3;
	border-radius: 0px;
	width: 20px;
	height: 2px;
	margin-top:4px;
	margin-left:-1px;
}

.navbar-default .navbar-toggle .icon-bar.first
{
	margin-top:0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand
{
	position: absolute;
	left: 50%;
	margin-left: -75px;
}

.navbar-collapse
{
	padding:0;
}

ul#menu-primary-menu
{
	margin:0;
}

ul#menu-primary-menu li
{
	border-bottom: 1px solid #f0f0f0;
	background-color: #fff;
	-webkit-transition: background-color 150ms;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    transition: background-color 150ms;
}

ul#menu-primary-menu li:hover
{
	background-color: #fafafa;
	-webkit-transition: background-color 150ms;
    -moz-transition: background-color 150ms;
    -o-transition: background-color 150ms;
    transition: background-color 150ms;
}

ul#menu-primary-menu li a
{
	color: #303030;
	font-family: 'Raleway', sans-serif;
}

/*MAIN WRAPPER*/
#page #content
{
	margin-top: 50px;
}


/*INTRO PAGE*/
#main #intro
{
	position: relative;
}

#intro .container {
	padding: 0;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.video-wrapper video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#main #intro .container h1
{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	width: 100%;
	background-color:rgba(48,48,48,1);
	font-size: 18px;
	line-height: 25px;
	margin-top: 0;
	padding: 15px;
}

/*ABOUT PAGE*/

#about
{
	padding-top: 10px;
}

#about .container,
#process .container,
#team .container,
#contact .container
{
	margin: 75px auto;
}

#team .container
{
	margin-bottom:0;
}

#about .container h2
{
	-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

#about .container h2,
#process .container h2,
#team .container h2,
#statistics .container h2,
#contact .container h2
{
	margin:0;
	color: #303030;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 12.5px;
} 

#about .container p,
#process .container p,
#process #processSteps a,
#team .container .individualMember .memberProfile h3,
#team .container .individualMember .memberProfile p,
#statistics .container p,
#statistics .container h3,
#contact .container p,
#contact .container a,
#contact .container label
{
	color: #303030;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 25px;
}

/*HIRE US PAGE*/
#main #hire
{
	width:100%;
	height: auto;
	position:relative;
}

#hire:before
{
	content: "";
    display: block;
    max-width: 100%;
    background-color: #fff;
    background-image: url("assets/hire.jpg");
    height: 250px;
	-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    background-position: 50% 50%;
    -webkit-transform: skewY(-2.5deg);
<<<<<<< HEAD
=======
    	-moz-transform: skewY(-2.5deg);
>>>>>>> sarah
    -webkit-backface-visibility: hidden;
}

#hire .container 
{
	position: absolute;
	top:50%;
	margin-top:-71px;
	width:100%;
	height:auto;
}

#hire .container h3,
#hire .container p
{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
} 

#hire .container h3
{
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

#hire .container p
{
	font-size: 18px;
	line-height: 25px;
}

#hire .container ul#socialCon,
#team .container ul#socialCon
{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
	margin: 0 auto;
	height: 40px;
	width: 160px;
	margin-top: 20px;
}

#hire .container ul#socialCon li
{
	padding: 5px;
	border-radius: 50%;
	margin:0;
	width: 40px;
	background-color: #ff483a;
	height: 40px;
	float: left;
	margin-right: 20px;
	list-style: none;	
}



#team .container ul#socialCon
{
	margin:0;
	width: 135px;
	height:25px;
}


#team .container ul#socialCon li
{
	padding:0;
	margin:0;
	width: 40px;
	background-color: #ff483a;
	height: 40px;
	float: left;
	margin-right: 20px;
	list-style: none;
}

#team .container ul#socialCon li
{
	width: 25px;
	height:25px;
}

#team .container ul#socialCon li
{
	background-color: transparent;
}

#hire .container ul#socialCon li#linkedIn
{
	margin-right: 0px;
}

#hire .container ul#socialCon li a,
#team .container ul#socialCon li a
{
	display: block;
	height:30px;
	width:30px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	

}

#team .container ul#socialCon li a
{
	width:25px;
	height:25px;
}

#hire .container ul#socialCon li#twitter a
{
	background-image: url("assets/twitter.png");
	background-image: url('assets/twitter.svg'), none;
}

#hire .container ul#socialCon li#facebook a
{
	background-image: url("assets/facebook.png");
	background-image: url('assets/facebook.svg'), none;
}

#hire .container ul#socialCon li#linkedIn a
{
	background-image: url("assets/linkedin.png");
	background-image: url('assets/linkedin.svg'), none;
}

#team .container ul#socialCon li#portfolio a
{
	background-image: url("assets/member_portfolio.png");
	background-image: url('assets/member_portfolio.svg'), none;
}

#team .container ul#socialCon li#twitter a
{
	background-image: url("assets/member_twitter.png");
	background-image: url('assets/member_twitter.svg'), none;
}

#team .container ul#socialCon li#linkedIn a
{
	background-image: url("assets/member_linkedIn.png");
	background-image: url('assets/member_linkedIn.svg'), none;
}

/*PROCESS PAGE*/
.circle {
	background: #EAEAEA;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	margin-right: 8px;
	margin-bottom: 6px;

	color: #ffffff;
	font-size: 1.5rem;
	display: inline-block;
	text-align: center;
	line-height: 2.5rem;
	width: 2.5rem;
	vertical-align: middle;
}

#process
{
	overflow: hidden;
}
#process #processSteps
{
	margin-bottom: 15px;
}

#process .container p
{
	display: none;
	opacity:0;
	margin-left: 10%;
	width:auto;
}

#process .container p.active
{
	display: block;
	opacity:1;
	margin-left:0%;
}

#process .container p#uitwerking span,
#team .container .individualMember .memberProfile p span
{
	display:block;
	margin-bottom: 10px;
}

#process .container p#uitwerking span:last-child,
#team .container .individualMember .memberProfile p span:last-child
{
	margin-bottom: 0px;
}

#process #processSteps a,
#team .container #subCon #teamMembers a
{
	margin-right: 15px;
	color: #606060;
	margin-bottom: 2px;
}

#process #processSteps a.active,
#process #processSteps a.active .circle,
#team .container #subCon #teamMembers a.active
{
	color: #303030;
	font-weight: bold;
}

#process #processSteps a.active .circle 
{
	color: #fff;
	background: #ff483a;
}


/*PROJECT PAGE*/
#work .container,
#team .container
{
	padding:0;
}

#work .container ul
{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

#work .container ul li
{
	width: 50%;
	float: left;
	height: auto;
	position: relative;
}

#work .container ul li img
{
	width:100%;
	height:auto;
	background-color: #f0f0f0; /*remove when publish*/
}

#work .container ul li .img-overlay {
	display: none;
	background-color: #000;
	height: 100%;
	width: 100%;
	line-height: 1;
	position: absolute;
	opacity: 0.5;
}

#work .container ul li:hover .img-overlay,
#work .container ul li:hover a {
	display: block;
}


#work .container ul li a
{
	border: 2px solid #fff;
	border-radius: 1px;
	color: #fff;
	display: none;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -30%;
	width: 60%;
}

#work .container ul li#projectProposal
{
	background-color: #303030;
	height:100%;
	padding-bottom:50%;
}

#work .container ul li .projectInfo
{
	position: absolute;
	width:100%;
	top:50%;
	margin-top:-28.5px;
}

#work .container ul li .projectInfo a
{
	display: block;
	position: static;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	width:auto;
	border: none;
	margin-left: 0px;
}

#work .container ul li .projectInfo h3
{
	margin:0;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 0px;
	font-size: 20px;
}

/*TEAM MEMBER PAGE*/
#team .container {
	max-width: 1200px;
}

.individualMember 
{
	display: block;
	overflow: hidden;
	position: relative;
}

#subCon
{
	display: none;
}

.memberImage img 
{
	height: auto;
	width: 100%;
	max-width: 300px;
}

.memberProfile 
{
	padding: 0 0px;
}

.individualMember .memberImage,
.individualMember .memberProfile
{
	float: left;
}

.individualMember .memberImage
{
	width: 40%;
}

.individualMember .memberProfile
{
	width: 60%;
	padding: 0 25px;
}

#team .container .individualMember .memberProfile h3
{
	font-size: 22.5px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 25px;
}

.individualMember .memberProfile p
{
	display: none;
	/*white-space: pre-wrap;*/
}
/*STATISTICS PAGE*/

#statistics
{
	width:100%;
	background-color: #f7f7f7;
	/*margin-top: -7.5%;*/
	z-index:10;
	position:relative;
}

#statistics ul
{
	width:100%;
	margin-top: 25px;
}

#statistics ul li
{
	width:47.5%;
	margin-right:5%;
	float: left;
	margin-bottom:25px;
}

#statistics ul li.even
{
	margin-right:0%;
}

#statistics .container h2
{
	text-align: center;
	padding-top:25px;
}

#statistics .container h3
{
	font-weight: bold;
}

#statistics .container h3,
#statistics .container p
{
	margin:0;
	text-align: center;
}

/*CONTACT PAGE*/
#contact
{
	background-color: #303030;
	overflow:hidden;
	position: relative;
}

#contact .container h2,
#contact .container h3,
#contact .container p,
#contact .container a,
#contact .container label,
#contact .container input
{
	color: #fff;
}

#contact .container input,
#contact .container #eContact textarea
{
	padding-left:5px;
	padding-right:5px;
}

#contact .container label
{
	font-weight: normal;
	font-size: 14px;
}

#contact .container h2
{
	text-align: center;
}

#contact .container h3
{
	font-weight: bold;
}

#contact .container #fContact
{
	margin:25px auto;
	overflow:hidden;
}

#contact .container #fContact p
{
	margin-bottom:0px;
}

#contact .container #fContact a
{
	text-decoration: underline;
	display: block;
	width:auto;
}

#contact .container #fContact #adress,
#contact .container #fContact #sponsors
{
	float: left;
	width: 47.5%;
	margin-right:2.5%;
}

#contact .container #fContact #sponsors
{
	margin-right:0%;
	text-align: right;
}

#contact .container #fContact #sponsors
{
	margin-right:0%;
	text-align: right;
}

#contact .container #eContact
{
	overflow:hidden;
	margin: 0 auto;
	margin-top: 35px;
	width: 80%;
}

#contact .container #eContact input,
#contact .container #eContact textarea
{
	width:100%;
	height: 35px;
	background-color: transparent;
	box-shadow: none;
	border: 2px solid #fff;
}

#contact .container #eContact input
{
	margin-bottom: 0px;
	font-size: 18px;
}

#contact .container #eContact input[type="submit"]
{
	margin-top: 25px;
	border: none;
	background-color: #ff483a;
	font-size: 18px;
	line-height: 35px;
	margin-bottom:0px;
}

#contact .container #eContact textarea
{
	height:120px;
	color: #fff;
	font-size: 18px;
	resize:vertical;
}

#contact .container #eContact label
{
	text-align: center;
	width:100%;
}

div.wpcf7-validation-errors {
	background-color: none;
	border: none;
	display: block;
	color: #fff;
	margin: 0;
}

.ajax-loader {
	display: none;
}

.modal-open .modal,.btn:focus{
    outline:none!important
}

:focus 
{
	outline: none;
}

/*MEDIAQUERIES FIXES*/
@media all and (min-width: 470px) {

	#hire .container
	{
		margin-top: -58.5px;
	}
}

@media all and (min-width: 640px) {
	/*NAVIGATION*/
	ul#menu-primary-menu li
	{
		background-color: transparent;
	}

	ul#menu-primary-menu li:hover
	{
		background-color: transparent;
	}

	/*HIRE PAGE*/
	#hire:before
	{
	    height:auto;
	    max-width: 100%;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    padding-top: 40.375%;
	}

<<<<<<< HEAD
=======
	/*PROCESS PAGE*/
	#process #processSteps a,
	#team .container #subCon #teamMembers a
	{
		display: inline-block;
	}

>>>>>>> sarah
	/*PROJECT PAGE*/
	#work .container ul li
	{
		width: 33.33333333%;
	}

	#work .container ul li#projectProposal
	{
		padding-bottom:33.33333333%;
	}

	/*TEAM MEMBER PAGE*/
	

	/*STATISTICS PAGE*/
	

	#statistics .container h2
	{
		padding-top: 50px;
		margin-bottom:35px;
	}
	#statistics ul
	{
		padding-bottom:25px;
		overflow:hidden;
	}

	#statistics ul li
	{
		width:18%;
		margin-right:2.5%;
	}

	#statistics ul li.even
	{
		margin-right:2.5%;
	}

	#statistics ul li.last
	{
		margin-right:0%;
	}
}

/*MEDIAQUERIES TABLET*/
@media all and (min-width: 768px) {
	/*NAVIGATION*/
	#main #intro .container h1 {
		position: absolute;
		top: auto;
		bottom: 10%;
		opacity: 0.75;
	}

	header.banner.navbar.navbar-default.navbar-static-top
	{
		height: 60px;
	}

	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand
	{
		position: static;
		left: 0;
		margin-left: 0px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
		margin:0;
	}

	.navbar-nav
	{
		float: right;
	}

	.navbar-brand
	{
		padding:0;
		line-height:60px;
		height: 60px;
	}

	.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after
	{
		display: none;
	}

	ul#menu-primary-menu li a
	{
		font-weight: bold;
		font-size: 16px;
		height:60px;
		line-height: 60px;
		padding:0px;
	}

	ul#menu-primary-menu li
	{
		border: none;
		padding:0px 5px;
		margin: 0px 10px;
	}

	/*also add on current active section*/
	ul#menu-primary-menu li:hover:before
	{
		width: 100%;
		background-color: #303030;
		content: "";
		height: 5px;
		position: absolute;
		bottom: 0;
		left:0;
	}

	ul#menu-primary-menu li:hover
	{
		background-color: #fff;
	}

	.navbar-default .navbar-nav>.active>a {
		background-color: #fff;
		border-bottom: 5px solid #000;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		background-color: #fff;
	}

	/*MAIN WRAPPER*/
	#page #content
	{
		margin-top: 20px;
	}

	/*INTRO PAGE*/
	#main #intro .container h1
	{
		font-size: 20px;
		padding:10px;
		line-height: 27.5px;
		width:374px;
	}

	/*ABOUT PAGE*/
	#about .container,
	#process .container,
	#team .container,
	#contact .container
	{
		margin: 150px auto;
	}

	#team .container
	{
		margin-bottom:0;
	}

	#about .container h2,
	#process .container h2,
	#team .container h2,
	#statistics .container h2,
	#contact .container h2
	{
		font-size: 42px;
	} 

	#about .container p,
	#process .container p,
	#process #processSteps a,
	#team .container .individualMember .memberProfile h3,
	#team .container #subCon #teamMembers a,
	#statistics .container p,
	#statistics .container h3,
	#contact .container p,
	#contact .container a,
	#contact .container label
	{
		font-size: 20px;
		line-height: 40px;
	}

	#team .container .individualMember .memberProfile p
	{
		font-size: 18px;
		line-height: 36px;
	}

	#contact .container #eContact label
	{
		font-size: 14px
	}



	/*HIRE US PAGE*/
	#hire .container h3,
	#work .container ul li .projectInfo h3
	{
		font-size: 22.5px;
	}

	#hire .container p,
	#work .container ul li .projectInfo a
	{
		font-size: 20px;
		line-height: 27.5px;
	}

	/*PROJECT PAGE*/
	#work .container
	{
		margin:0;
		width:100%;
	}

	/*TEAM MEMBER PAGE*/

	#subCon
	{
		display: block;
		overflow:hidden;
	}

	#teamMembers .individualMember
	{
		float:left;
	}

	#teamMembers ul
	{
		width: 100%;
		padding-bottom: 25px;
		overflow:hidden;
	}

	#teamMembers ul li
	{
		float: left;
	}

	#team .container #subCon #teamMembers ul li a.active
	{
		font-weight: bold;
		color: #303030;
	}

	.individualMember .memberProfile p
	{
		display: block;
	}

	#team .container .individualMember .memberProfile h3
	{
		margin-bottom: 0px;
	}

	/*ul#teamList li
	{
		display: none;
	}*/

	ul#socialCon li
	{
		display: block;
	}

	ul#teamList > :first-child
	{
		display:block;
	}

	#team .container .individualMember .memberProfile
	{
		display: none;
		opacity:0;

		position: absolute;
		left: 35%;
	}
	#team .container .individualMember .memberImage
	{
		display: none;
		opacity:0;
		margin-left:-5%;
	}



	#team .container .individualMember.active .memberProfile
	{
		display: block;
		opacity:1;
	}

	#team .container .individualMember.active .memberImage
	{
		display: block;
		opacity:1;
		margin-left:0%;
	}



	
	/*CONTACT PAGE*/
	#contact .container
	{
		overflow:hidden;
	}

	#contact .container h2
	{
		text-align: left;
	}

	#contact .container #eContact input
	{
		margin-bottom: 0px;
	}

	#contact .container #eContact input[type="submit"]
	{
		margin-bottom:0px;
	}

	
	#contact .container #fContact #adress,
	#contact .container #fContact #sponsors
	{
		float: none;
		width: 100%;
		margin-right:0%;
	}

	#contact .container #fContact #sponsors
	{
		text-align: left;
	}

	#contact .container #fContact,
	#contact .container #eContact
	{
		margin-top:5px;
		float:left;
		width: 50%;
		margin-bottom:0;
	}

	#contact .container #eContact
	{
		margin-top: 25px;
	}

	#contact .container #fContact
	{
		width:35%;
		margin-right: 2.5%;
	}

	#contact .container #eContact
	{
		width: 62.5%;
	}

	#contact .container #eContact #mIdentity,
	#contact .container #eContact #mContent,
	#contact .container #eContact #mButton
	{
		float:left;
		width: 47.5%;
	}

	#contact .container #eContact #mIdentity
	{
		margin-right: 5%;
	}

	#contact .container #eContact label
	{
		text-align: left;
		width:100%;
	}

	#contact .container #eContact textarea
	{
		height:127px;
	}

	#contact .container #eContact input[type="submit"]
	{
		margin-top: 25px;
		line-height: 35px;
	}

	#contact .container #eContact #mButton
	{
		float:none;
	}
}

/*MEDIAQUERIES FIXES*/
@media all and (min-width: 900px) {

	/*PROJECT PAGE*/
	#work .container ul li
	{
		width: 25%;
	}

	#work .container ul li#projectProposal
	{
		padding-bottom:25%;
	}
}

@media all and (min-width: 990px) {

	/*TEAM MEMBER PAGE*/
	
}

/*MEDIAQUERIES DESKTOP*/
@media all and (min-width: 1200px) {

	.container
	{
		width: 1000px;
		margin: 0 auto;
		padding:0;
	}
	/*MAIN WRAPPER*/
	#page #content
	{
		margin-top: 0px;
	}

	/*INTRO PAGE*/
	#main #intro .container h1
	{
		font-size: 25px;
		padding:12.5px;
		line-height: 30px;
		width:472px;
	}

	/*ABOUT PAGE*/
	#about .container,
	#process .container,
	#team .container,
	#contact .container
	{
		margin: 150px auto;
	}

	#team .container
	{
		margin-bottom:0;
	}

	#about .container h2,
	#process .container h2,
	#team .container h2,
	#statistics .container h2,
	#contact .container h2
	{
		font-size: 45px;
	} 

	#about .container p,
	#process .container p,
	#process #processSteps a,
	#team .container .individualMember .memberProfile h3,
	#team .container #subCon #teamMembers a,
	#statistics .container p,
	#statistics .container h3,
	#contact .container p,
	#contact .container a,
	#contact .container label
	{
		font-size: 20px;
		line-height: 40px;
	}

	#team .container .individualMember .memberProfile p
	{
		font-size: 18px;
		line-height: 36px;
	}

	#contact .container #eContact label
	{
		font-size: 16px
	}

	/*HIRE US PAGE*/
	#hire .container
	{
		margin-top: -61px;
	}

	#hire .container h3,
	#work .container ul li .projectInfo h3
	{
		font-size: 25px;
	}

	#hire .container p,
	#process .container p,
	#work .container ul li .projectInfo a
	{
		font-size: 20px;
		line-height: 40px;
	}

	/*PROCESS PAGE*/
	#process #processSteps
	{
		margin-bottom: 20px;
	}

	/*PROJECT PAGE*/
	#work .container ul li
	{
		width: 20%;
	}

	#work .container ul li#projectProposal
	{
		padding-bottom:20%;
	}
}

/*MEDIAQUERIES FIXES*/
@media all and (min-width: 1241px){
	/*TEAM MEMBER PAGE*/
	
}